<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Rinkimai </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
 <link rel="stylesheet" href="test.css"></link>
  
</head>
<body>
<!-- 
  <div class="container"><a id="public" href="/">Viešas</a> | <a id="admin" href="/admin">Administratoriui</a> | <a id="representative" href="/rep">Atstovui</a></div> 
 -->
  <div id="root_admin" class="container"></div>
  
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/react-router@2.8.1/umd/ReactRouter.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/react@15/dist/react-with-addons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/babel" src="/js/admin/containers/constituency_list_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/district_list_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/add_new_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/add_constituency_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/add_district_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/administrate_representative_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/representative_info_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/delete_votes_container.jsx"></script>
  <script type="text/babel" src="/js/admin/containers/change_password_container.jsx"></script>
  
  <script type="text/babel" src="/js/admin/candidates/containers/administrate_multi_candidates_container.jsx"></script>
  <script type="text/babel" src="/js/admin/candidates/containers/administrate_single_candidates_container.jsx"></script>
  <script type="text/babel" src="/js/admin/parties/containers/party_list_container.jsx"></script>
  <script type="text/babel" src="/js/admin/parties/containers/add_party_container.jsx"></script>
  <script type="text/babel" src="/js/admin/votes/containers/pub_del_votes_constituency_list_container.jsx"></script>
  <script type="text/babel" src="/js/admin/votes/containers/pub_del_votes_district_list_container.jsx"></script>

<!-- containers/components -->

  <script type="text/babel" src="/js/admin/components/constituency_list_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/district_list_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/add_new_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/add_constituency_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/add_district_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/administrate_representative_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/representative_info_component.jsx"></script>	
  <script type="text/babel" src="/js/admin/components/delete_votes_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/delete_confirmation_component.jsx"></script>
  <script type="text/babel" src="/js/admin/components/change_password_component.jsx"></script>
  
  <script type="text/babel" src="/js/admin/candidates/components/administrate_multi_candidates_component.jsx"></script>
  <script type="text/babel" src="/js/admin/candidates/components/administrate_single_candidates_component.jsx"></script>
  <script type="text/babel" src="/js/admin/candidates/administrate_candidates_csv_constituency_component.jsx"></script>
  <script type="text/babel" src="/js/admin/candidates/administrate_candidates_csv_party_component.jsx"></script>
  <script type="text/babel" src="/js/admin/candidates/view_candidates_by_constituency_component.jsx"></script>
  <script type="text/babel" src="/js/admin/candidates/view_candidates_by_party_component.jsx"></script>
  
  <script type="text/babel" src="/js/admin/parties/components/party_list_component.jsx"></script>
  <script type="text/babel" src="/js/admin/parties/components/add_party_component.jsx"></script>
  <script type="text/babel" src="/js/admin/votes/components/pub_del_votes_constituency_list_component.jsx"></script>
  <script type="text/babel" src="/js/admin/votes/components/pub_del_votes_district_list_component.jsx"></script>
  
  <script type="text/babel" src="/js/admin/navigation_admin_component.jsx"></script>
  <script type="text/babel" src="/js/admin/navigation_admin_container.jsx"></script>
  <script type="text/babel" src="/js/admin/home_component.jsx"></script>
  <script type="text/babel" src="/js/admin/index_admin.jsx"></script>
  
</body>
</html>
