<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Rinkimai</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="login_syle.css" /> -->
<link rel="stylesheet" href="test.css" />

</head>
<body>
<div class="loginForm">
	<div class="container col-sm-6 col-md-4 col-lg-3 absolute-center">
		<div class="login-logo"><a href="/"><img src="images/vrk-logo-lt.png" alt="vrk logo"/></a></div>
			<form class="form" th:action="@{/login}" method="post">

				<div class="form-group">
					<label class="sr-only">Vartotojo vardas</label> <input
						id="username" type="text" class="form-control"
						placeholder="Vartotojo vardas" name="username" />
				</div>

				<div class="form-group">
					<label class="sr-only">Slaptažodis</label> <input id="password"
						type="password" class="form-control" placeholder="Slaptažodis"
						name="password" />
				</div>

				<button id="signin" type="submit" class="btn btn-xs btn-primary">Prisijungti</button>

			</form>

			<div class="login-message" th:if="${param.error}">Neteisingas prisijungimo vardas arba
				slaptažodis.</div>
			<div class="login-message" th:if="${param.logout}">Jūs sėkmingai atsijungėte.</div>

		</div>
	</div>
</body>
</html>