<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <title>Rinkimai </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
 
  
</head>
<body>
	<div class="container"><a id="public" href="/">Viešas</a> | <a id="admin" href="/admin">Administratoriui</a> | <a id="representative" href="/rep">Atstovui</a><br />
	Prisijungęs kaip: <span sec:authentication="name">Bob</span>
	</div>
	
	<div id="root_rep" class="container"></div>
  
  <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://unpkg.com/react-router@2.8.1/umd/ReactRouter.js"></script>
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/react@15/dist/react-with-addons.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script type="text/babel" src="/js/containers/register_votes_single_container.jsx"></script>
  <script type="text/babel" src="/js/containers/register_votes_multi_container.jsx"></script>
  <script type="text/babel" src="/js/representative/test_register_votes_single_container.jsx"></script>
  <script type="text/babel" src="/js/representative/test_register_votes_multi_container.jsx"></script>
  <script type="text/babel" src="/js/containers/vote_form_multi_container.jsx"></script>
  <script type="text/babel" src="/js/containers/vote_form_single_container.jsx"></script>
  <script type="text/babel" src="/js/containers/logged_in_representative_info_container.jsx"></script>
  
  <script type="text/babel" src="/js/components/register_votes_single_component.jsx"></script>
  <script type="text/babel" src="/js/components/register_votes_multi_component.jsx"></script>
  <script type="text/babel" src="/js/components/vote_form_multi_component.jsx"></script>
  <script type="text/babel" src="/js/components/vote_form_single_component.jsx"></script>
  <script type="text/babel" src="/js/components/home_component.jsx"></script>
  <script type="text/babel" src="/js/components/logged_in_representative_info_component.jsx"></script>
  
  <script type="text/babel" src="/js/navigation_rep_component.jsx"></script>
  <script type="text/babel" src="/js/navigation_rep_container.jsx"></script>
  <script type="text/babel" src="/js/index_rep.jsx"></script>
</body>
</html>
